{{if eq . "merge"}}
	{{ctx.Locale.Tr "repo.pulls.stack_merge_commit"}}
{{else if eq . "squash"}}
	{{ctx.Locale.Tr "repo.pulls.squash_merge_pull_request"}}
{{else if eq . "rebase"}}
	{{ctx.Locale.Tr "repo.pulls.rebase_merge_pull_request"}}
{{else}}
	{{ctx.Locale.Tr "repo.pulls.fast_forward_only_merge_pull_request"}}
{{end}}
