<span class="ui basic label" data-tooltip-content="{{if eq .Mode "merge"}}{{ctx.Locale.Tr "repo.pulls.stack_mode_merge_desc"}}{{else}}{{ctx.Locale.Tr "repo.pulls.stack_mode_rebase_desc"}}{{end}}">{{if eq .Mode "merge"}}{{ctx.Locale.Tr "repo.pulls.stack_mode_badge_merge"}}{{else}}{{ctx.Locale.Tr "repo.pulls.stack_mode_badge_rebase"}}{{end}}</span>
