<div id="issue-list" class="flex-divided-list items-with-main">
	{{range .IssueGroups}}
		{{if .Stack}}
			{{template "shared/issuelist_stack" dict "Root" $ "Row" .}}
		{{else}}
			{{template "shared/issuelist_item" dict "Root" $ "Issue" .Issue}}
		{{end}}
	{{else}}
		{{range .Issues}}
			{{template "shared/issuelist_item" dict "Root" $ "Issue" .}}
		{{else}}
			<div class="tw-text-center tw-p-8">
				<h3 class="tw-my-4">{{ctx.Locale.Tr "repo.issues.filter_no_results"}}</h3>
				<p class="tw-text-placeholder-text">{{ctx.Locale.Tr "repo.issues.filter_no_results_placeholder"}}</p>
			</div>
		{{end}}
	{{end}}
	{{if .IssueIndexerUnavailable}}
		<div class="ui error message">
			<p>{{ctx.Locale.Tr "search.keyword_search_unavailable"}}</p>
		</div>
	{{end}}
</div>
{{template "base/paginate" .}}
