{{$root := .Root}}
{{$row := .Row}}
{{$stack := .Row.Stack}}
{{$size := len $stack.Layers}}
<div class="item">
	<div class="item-leading">
		<div class="flex-text-inline tw-mt-[3px]">
			{{if $root.CanWriteIssuesOrPulls}}<span class="tw-w-[var(--checkbox-size)] tw-mr-[14px]"></span>{{end}}
			{{svg "octicon-stack" 16 "tw-text-green"}}
		</div>
	</div>
	<div class="item-main">
		<div class="item-header">
			<div class="flex-text-inline tw-flex-wrap">
				<a class="list-item-large-title" href="{{$root.RepoLink}}/pulls/stacks/{{$stack.ID}}">{{ctx.Locale.Tr "repo.pulls.stack_number" $stack.ID}}</a>
				<a class="list-item-large-title tw-font-normal" href="{{$root.Link}}/{{$stack.Bottom.Index}}">{{$stack.Bottom.Title | ctx.RenderUtils.RenderIssueSimpleTitle}}</a>
			</div>
		</div>
		<div class="item-body">
			{{template "repo/stack/mode_label" $stack}}
			<span>{{ctx.Locale.TrN $size "repo.pulls.stack_layers_1" "repo.pulls.stack_layers_n" $size}}</span>
			{{if $stack.Operation}}<span class="ui basic label">{{ctx.Locale.Tr "repo.pulls.stack_operation" $stack.Operation}}</span>{{end}}
			{{$status := ctx.Locale.Tr "repo.pulls.stack_status" $stack.Merged $stack.Open $stack.Closed}}
			<span class="stack-status-bar" role="img" aria-label="{{$status}}" data-tooltip-content="{{$status}}">
				{{- range $stack.Layers -}}
					<span class="{{if .HasMerged}}merged{{else if .IsClosed}}closed{{else}}open{{end}}"></span>
				{{- end -}}
			</span>
		</div>
		<details {{if $row.Expanded}}open{{end}}>
			<summary class="tw-text-text-light-2">
				{{if $root.StackRowsFiltered}}
					{{ctx.Locale.Tr "repo.pulls.stack_layers_match" (len $row.Layers) $size}}
				{{else}}
					{{ctx.Locale.Tr "repo.pulls.stack_layers_listed" (len $row.Layers) $size}}
				{{end}}
			</summary>
			<div class="flex-divided-list items-with-main">
				{{range $row.Layers}}
					{{template "shared/issuelist_item" dict "Root" $root "Issue" .}}
				{{end}}
			</div>
		</details>
	</div>
</div>
